doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="navbar navbar-expand-lg navbar-light")
      span(class="navbar-brand") #[img(src="/images/logo.png" width="30rem") ]

    div(class="container")
      block content

    script(src="/js/jquery.slim.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/popper.min.js")
    script(src="/socket.io/socket.io.js")
    //- script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script.
      $(function(){
        var socket = io.connect();
        $('#increment').on('click',function(){
          socket.emit('increment',)
        })
        //- $('#reset').on('click',function(){
        //-   socket.emit('reset',)
        //- })

        socket.on('count change', function(num){
          $('#count').text(num)
        })
        
      })
